name: Release Charm

on:
  workflow_dispatch: {}
  push:
    branches:
      - main
      - track/**

jobs:
  release:
    uses: canonical/observability/.github/workflows/charm-release.yaml@v1
    secrets: inherit
    with:
      provider: machine
      default-track: dev
